@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "SuperMario256";
  src: url("./assets/Fonts/SuperMario256.ttf") format("truetype");
}

@font-face {
  font-family: "PallyBold";
  src: url("./assets/Fonts/PallyBold.otf") format("truetype");
}

@font-face {
  font-family: "Jersey";
  src: url("./assets/Fonts/Jersey10-Regular.ttf");
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

